<h1 class="title">Higher-order Observables Operators</h1>

<button (click)="repeatUntilSwitch()" class="btn">
  Каждый элемента из потока 1 вывести его несколько раз с задержкой в 200
  миллисекунд. Если первый поток выпускает новое значение, мы должны
  переключиться на него и продолжать вывод уже нового элемента
</button>

<p>{{ firstAnswer }}</p>

<button (click)="showNewStream()" class="btn">
  Элементы из потока 1 вывести в виде нового поток
</button>

<p>{{ secondAnswer }}</p>

<button (click)="repeatEven()" class="btn">
  Каждый ЧЕТНЫЙ элемент потока 1 вывести 5 раз с интервалом в 300 миллисекунд.
  Если первый поток выпускает новое значение, мы должны его проигнорировать,
  пока не завершиться 2ой поток для предыдущего элемента
</button>

<p>{{ thirdAnswer }}</p>

<button (click)="repeatAll()" class="btn">
  Каждый элемент из потока 1 вывести в виде потока, который выводит каждый
  элемент 5 раз. Если первый поток выводит новый элемент, вывод потока
  предыдущего элемента не должен прекращаться до того момента, пока не
  завершится
</button>

<p>{{ fourthAnswer }}</p>
